<div class="container w-100">

    <div class="row w-100 mt-5">
        <div class="col-md-12">
            <h1 class="text-monospace text-center">Sejam bem vindes ao meu blog!</h1>
        </div>
    </div>

    <div class="row mt-4 mb-4 w-100">
        <div class="col-md-12">
            <p class="text-justify text-monospace">
                 Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam id soluta sequi similique ex hic maxime, aut odit nemo, temporibus cum dolores maiores dolorum alias corrupti dicta! Perspiciatis, eligendi laboriosam?
                 Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam minus reiciendis reprehenderit dicta ipsum dolorum consequatur. Repudiandae expedita modi, ad reprehenderit id quia vitae, sint aliquam, saepe ut blanditiis quam.
                 Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt provident saepe exercitationem distinctio consequuntur. Labore quidem error suscipit magnam eum accusamus? Id ipsum illo autem nihil adipisci corporis saepe exercitationem!
                
            </p>
        </div>
    </div>
</div>
    <div class="parallax"></div>

    <div class="row mt-5 mb-5 w-100">]
        <div class="col-md-12 w-100 d-flex justify-content-center">
            <button class="btn btn-outline-dark text-uppercase font-weight-bold" routerLink='/feed' >Ver o feed</button>
        </div>
    </div>

